---
layout: page
titles:
  # @start locale config
  en      : &EN       Book
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  图书
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: key_book
show_title: false
comment: false
article_header:
  type: cover
  image:
    <!-- src: assets/images/book-bg.jpg -->

feature_row1:
  - image_path: assets/images/book/zhouenlai_cover.png
    alt: "customizable"
    title: "我的伯父周恩来"
    excerpt: ""
    url: "2021/05/22/zhouenlai.html"
    btn_class: "btn--primary"
    btn_label: "Read more"

  - image_path: assets/images/book/muguang_cover.png
    alt: "customizable"
    title: "目光"
    excerpt: "陶勇医生首部文学随笔"
    url: "2021/05/23/muguang.html"
    btn_class: "btn--primary"
    btn_label: "Read more"

feature_row2:
  - image_path: assets/images/book/pompeii_cover.png
    alt: "customizable"
    title: "庞贝古城"
    excerpt: "一座罗马城市的生与死"
    url: "https://mp.weixin.qq.com/s/Tm2fSTz6XTprlvN_3lljVQ"
    btn_class: "btn--primary"
    btn_label: "Read more"

feature_row3:
  - image_path: assets/images/book/s1070959.jpg
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"

---

{% include feature_row.html id="feature_row1" title="📖 Reading" %}

{% include feature_row.html id="feature_row2" title="📘 Have Read" %}

{% include feature_row.html id="feature_row3" title="📚 To Read" %}