---
layout: page
titles:
  # @start locale config
  en      : &EN       Photo
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  照片
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: key_photo
show_title: false
comment: false
article_header:
  type: cover
  image:
    src: assets/images/movie-bg.png

feature_row1:
  - image_path: assets/images/movie/p2629056068.jpg
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"

feature_row2:
  - image_path: assets/images/movie/p2629056068.jpg
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

<!-- {% include feature_row.html id="feature_row1" title="🎬 时刻" %}

{% include feature_row.html id="feature_row2" title="📽 随拍" %} -->

<!-- 图片size: 竖版40% 横板60% 双竖/横版均40% 一竖一横竖30%横50% -->

<div class="post-container" style="padding-top: 10px;">
  <h4>时刻</h4>
  <div style="text-align: center;">

    <div style="margin: 10px;">
      <img src="assets/images/photo/2020_QinHuangDao_Team.jpg" style="width: 60%;">
      <p>2020年9月，秦皇岛，实习部门团建合影。</p>
      <br/>
    </div>

    <div style="margin: 10px;">
      <img src="assets/images/photo/2019_ShangHai_HuaQi.jpg" style="width: 60%;">
      <p>2019年12月，上海，花旗杯完赛后队员合影。</p>
      <br/>
    </div>

    <div style="margin: 10px;">
      <img src="assets/images/photo/2019_WuHan_JunYunHui.jpg" style="width: 60%;">
      <p>2019年10月，武汉，军运会开幕式前一天新闻发布会，第一次露面央视镜头。</p>
      <br/>
    </div>

  </div>

  
  <h4>地点</h4>
  <div style="text-align: center;">

    <div style="margin: 10px;">
      <img src="assets/images/photo/2020_QinHuangDao.jpg" style="width: 60%;">
      <p>2020, Qinhuangdao</p>
      <br/>
    </div>

    <div style="margin: 10px;">
      <img src="assets/images/photo/2020_BeiJing.jpg" style="width: 60%;">
      <p>2020, Beijing</p>
      <p></p>
      <br/>
    </div>

    <div style="margin: 10px;">
      <img src="assets/images/photo/2019_ShangHai_Waitan.jpg" style="width: 60%;">
      <p>2019, Shanghai</p>
      <br/>
    </div>
    
    <div style="margin: 10px;">
      <img src="assets/images/photo/2019_WuHan.jpg" style="width: 40%;">
      <p>2019, Wuhan</p>
      <br/>
    </div>
    
    <div style="margin: 10px;">
      <img src="assets/images/photo/2018_BeiJing_Tower.jpg" style="width: 30%;">
      <img src="assets/images/photo/2018_BeiJing_Xiangshan.jpg" style="width: 50%;">
      <p>2018, Beijing</p>
      <br/>
    </div>

    <div style="margin: 10px;">
      <img src="assets/images/photo/2018_Macao.jpg" style="width: 40%;">
      <img src="assets/images/photo/2018_Macao_Tower.jpg" style="width: 40%;">
      <p>2018, Macao</p>
      <br/>
    </div>
    
    <div style="margin: 10px;">
      <img src="assets/images/photo/2018_ShenZhen.jpg" style="width: 40%;">
      <p>2018, Shenzhen</p>
      <br/>
    </div>
    
    <div style="margin: 10px;">
      <img src="assets/images/photo/2017_HongKong_Street.jpg" style="width: 40%;">
      <img src="assets/images/photo/2017_HongKong_Building.jpg" style="width: 40%;">
      <p>2017, Hong Kong</p>
      <br/>
    </div>

    <div>
      <img src="assets/images/photo/2017_ShenZhen.jpg" style="width: 40%;">
      <p>2017, Shenzhen</p>
      <br/>
    </div>
    
  </div>
   
</div>